<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="scheduledTime" value="09:00"/>
    <add key="Thirty" value="56"/>
    <add key="Ninety" value="56"/>
  </appSettings>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=testdb2016;Initial Catalog=ARAMA04;User ID=manu;Password=united;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
